<h2 class="artist-name">
  {{model.name}}
</h2>
<div class="artist-content">
  <ul class="albums">
    {{#each model.albums as |album|}}
      <li>
        {{music-album model=album}}
      </li>
    {{else}}
      No albums, sorry!
    {{/each}}
  </ul>
</div>
