<ul class="artist-list">
  {{#each artist in model}}
    <li class="artist-link">
      {{#link-to "artist" artist.id}}
        <h2 class="artist-name">
          {{artist.name}}
        </h2>
        <img {{bind-attr src=artist.image}}>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
